<mat-toolbar color="primary">
  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with menu icon"
  >
    <mat-icon (click)="toggleSidebar()">menu</mat-icon>
  </button>
  <span>ELECTION PORTAL</span>
  <span class="example-spacer"></span>
  <button
    mat-icon-button
    class="example-icon favorite-icon"
    aria-label="Example icon-button with heart icon"
  >
    <mat-icon>favorite</mat-icon>
  </button>
  <button
    mat-icon-button
    [matMenuTriggerFor]="menu"
    aria-label="Example icon-button with a menu"
  >
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item>
      <mat-icon>login</mat-icon>
      <span>Login</span>
    </button>
    <button mat-menu-item>
      <mat-icon>logout</mat-icon>
      <span>Logout</span>
    </button>
    <button mat-menu-item>
      <mat-icon>account_circle</mat-icon>
      <span>Register</span>
    </button>
    <button mat-menu-item>
      <mat-icon>admin_panel_settings</mat-icon>
      <span>Admin Panel</span>
    </button>
  </mat-menu>
</mat-toolbar>
