@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap");

.container {
  position: relative;
  text-align: center;
  color: black;
  font-family: "Abril Fatface", cursive;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Abril Fatface", cursive;
}
