<div class="container">
  <mat-card class="example-card">
    <mat-card-header>
      <div
        mat-card-avatar
        class="example-header-image"
        [ngStyle]="{
          'background-image': 'url(' + currentData?.party_icon + ')'
        }"
      ></div>
      <mat-card-title class="title"
        >{{ currentData?.party_name }}
        <mat-icon *ngIf="currentData?.approved" class="green"
          >verified</mat-icon
        ></mat-card-title
      >
      <mat-card-subtitle>{{ currentData?.slogan }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>
        <b>Party Admin :</b>
        <span
          >{{ currentData?.party_admin?.first_name }}
          {{ currentData?.party_admin?.last_name }}</span
        >
      </p>
      <p><b>Email :</b> {{ currentData?.party_admin?.email }}</p>
    </mat-card-content>
  </mat-card>
  <mat-card>
    <mat-card-title>{{ currentData.party }}</mat-card-title>
    <mat-card-subtitle>List Of members of The Party</mat-card-subtitle>
    <mat-card-content
      ><mat-form-field appearance="outline">
        <mat-label>Filter</mat-label>
        <input
          matInput
          (keyup)="applyFilter($event)"
          placeholder="Ex. Mia"
          #input
        />
      </mat-form-field>

      <div>
        <table mat-table [dataSource]="dataSource" matSort>
          <!-- ID Column -->
          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef>Serial#</th>
            <td mat-cell *matCellDef="let row; let index = index">
              {{ index + 1 }}
            </td>
          </ng-container>
          <!-- Progress Column -->
          <ng-container matColumnDef="party-name">
            <th mat-header-cell *matHeaderCellDef>Member Name</th>
            <td mat-cell *matCellDef="let row">{{ row.UserId }}</td>
          </ng-container>
          <!-- Progress Column -->
          <ng-container matColumnDef="winning-rate">
            <th mat-header-cell *matHeaderCellDef>Position</th>
            <td mat-cell *matCellDef="let row">{{ row.position }}</td>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="admin">
            <th mat-header-cell *matHeaderCellDef>Approved</th>
            <td mat-cell *matCellDef="let row">{{ row.approved }}</td>
          </ng-container>

          <!-- Fruit Column -->
          <ng-container matColumnDef="members">
            <th mat-header-cell *matHeaderCellDef>Role</th>
            <td mat-cell *matCellDef="let row">{{ row.fruit }}</td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

          <!-- Row shown when there is no matching data. -->
          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4">
              No data matching the filter "{{ input.value }}"
            </td>
          </tr>
        </table>

        <mat-paginator
          [pageSizeOptions]="[5, 10, 25, 100]"
          aria-label="Select page of users"
        ></mat-paginator>
      </div>
    </mat-card-content>
  </mat-card>
</div>
