<mat-list *ngIf="showFolder || showNotes">
  <div *ngIf="showFolder" mat-subheader>Menu</div>
  <mat-list-item [routerLink]="folder.route" *ngFor="let folder of folders">
    <mat-icon mat-list-icon>{{ folder.icon }}</mat-icon>
    <div mat-line>{{ folder.name }}</div>
  </mat-list-item>
  <mat-divider *ngIf="showNotes"></mat-divider>
  <div *ngIf="showNotes" mat-subheader>Account</div>
  <mat-list-item [routerLink]="note.route" *ngFor="let note of notes">
    <mat-icon mat-list-icon>{{ note.icon }}</mat-icon>
    <div mat-line>{{ note.name }}</div>
  </mat-list-item>
</mat-list>
