.primary {
  color: green;
  padding: 5px 10px;
  border-radius: 10px;
  width: fit-content;
  border: 1px solid green;
}
.accent {
  color: red;
  padding: 5px 10px;
  border-radius: 10px;
  width: fit-content;
  border: 1px solid red;
}
